/* Error Tool Tip Styles*/
.tool_tip {
    /* font */
    font-family: Helvetica;
    font-size: 13px;
    font-weight: bold;
    color: #cc0033;
    line-height: 20px;
    /* background */
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    /* positioning */
    float: right;
    position: absolute;
    padding: 7px 11px 4px;
    /*move tooltip to right of the mouse**/
    /* right: 10px; */
    /* margin-left: auto; */
    margin-left: 870px; 
    margin-top: -35px;
  }
  
  /* Left Arrow Styles */
  .tool_tip:after, .tool_tip:before {
    content: '';
    border: 7px solid transparent;
    position: absolute;
    top: 10px;
  }
  .tool_tip:after {
    border-right: 7px solid #fce4e4;
    left: -14px;
  }
  .tool_tip:before {
    border-right: 7px solid #fcc2c3;
    left: -15px;
  }
  