.input {
  position: relative;
  font-size: 1.5em;
  background: linear-gradient(21deg, #10abff, #1beabd);
  padding: 5px;
  display: inline-block;
  border-radius: 9999em;
  height: 42px;
}

.input *:not(span) {
  background-color: rgb(112, 68, 21);
  position: relative;
  display: inherit;
  border-radius: inherit;
  margin: 0;
  border: none;
  outline: none;
  padding: 0 .325em;
  z-index: 1;
}

.input *:not(span):focus + span {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.input span {
  -webkit-transform: scale(0.993, 0.94);
          transform: scale(0.993, 0.94);
  -webkit-transition: opacity .25s, -webkit-transform .5s;
  transition: opacity .25s, -webkit-transform .5s;
  transition: transform .5s, opacity .25s;
  transition: transform .5s, opacity .25s, -webkit-transform .5s;
  opacity: 0;
  position: absolute;
  z-index: 0;
  margin: 4px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  pointer-events: none;
  -webkit-box-shadow: inset 0 0 0 3px #fff,
 0 0 0 4px #fff,
 3px -3px 30px #1beabd, 
 -3px 3px 30px #10abff;
          box-shadow: inset 0 0 0 3px #fff,
 0 0 0 4px #fff,
 3px -3px 30px #1beabd, 
 -3px 3px 30px #10abff;
}

input {
  height: 40px;
  margin-bottom: 5px;
  font-weight: bold;
  color: aliceblue;
  text-align: center;
}

::-webkit-input-placeholder {
  color: #cbd0d5;
}

:-ms-input-placeholder {
  color: #cbd0d5;
}

::-ms-input-placeholder {
  color: #cbd0d5;
}

::placeholder {
  color: #cbd0d5;
}